.tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
}

.tt-query {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.175);
}

.tt-hint {
    color: #999;
    margin: 25px 25px 2.5px 10px;
    height: 50px;
    width: 300px;
}

.tt-input {
    margin: 25px 25px 2.5px 10px;
    height: 50px;
    width: 300px;
}

.tt-dropdown-menu {
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    max-height: 200px;
    width: 200px;
    overflow-y: auto;
    text-align: left;
}

.tt-suggestion {
    padding: 2px 20px;
    font-size: 14px;
    line-height: 18px;
}

.tt-suggestion.tt-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;
    cursor: pointer;
}

.tt-suggestion p {
    margin: 0;
}

ul{
    list-style-type: none;
}

#common-investments-button {
    margin: 2.5px 5px 5px 5px;

}