<div class="container">
	<div class="row" id="results-div">
		<div class="col-lg-12">
			<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
			<div id='company-data'>
			<h2>Company Details</h2>
			<p><strong>Description:</strong> {{description}}</p>
			<p><strong>Founded:</strong> {{founded}}</p>
			<p><strong>Location:</strong> {{city}}, {{state}}</p>
			<p><strong>Total Funding:</strong> {{total_funding}}</p>
			</div>
		</div><!-- /.col-lg-4 -->

	</div><!-- /.row -->
</div>