<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>In-Q-Tel</title>
 </head>
 <body>
 	<h1>Investment Mapper</h1>
	 	
	 	<form id="select-vcs" action="/common_investments" method="GET">
		 	<select name="vc1-list">
		 	{% for vc in vc_list %}
		 		<option>{{vc.name}}</option>
		 	{% endfor %}
		 	</select>

		 	<select name="vc2-list">
		 	{% for vc in vc_list %}
		 		<option>{{vc.name}}</option>
		 	{% endfor %}
		 	</select>

		 	<button id="find-investments-button" type="submit">Find Common Investments</button>
	 	</form>




	 	<div>
	 		{% for pc in common_investments_set %}
	 			<li>{{pc}}</li>
	 		{% endfor %}
	 	</div>


		<div class="container">
			<p class="example-description">Start Typing The VC Name: </p>
			<input id="vc1" class="typeahead" type="text" placeholder="Input a VC name">
			<input id="vc2" class="typeahead" type="text" placeholder="Input a VC name">
			<button id="type-ahead-button" type="submit">Find Common Investments</button>
		</div>

  <!-- Load jQuery and the typeahead JS files -->
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="../static/typeahead.min.js"></script>

  <script>
    $("#type-ahead-button").click(function(evt){
    	alert("hi")
    	$.get(
    		"/type_ahead",
    		function(result){
    			console.log(result);
    		});
    });

    // Waiting for the DOM ready...
    $(function(){

      // applied typeahead to the text input box
      $('#my-input').typeahead({
        name: 'countries',

        // data source
        prefetch: 'data/countries.json',
        // JOEL DEMO SOME TNINGS WORKS LIKE THIS url_to_hit: '/type_ahead?q=',
        // max item numbers list in the dropdown
        limit: 10
      });

    });
  </script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
  <!-- DO JAVASCRIPT LATER

  <script>

	//when i click the find common investments button, get results from /common investments function and display them on the screen

	function displayCommonInvestments(){
		$("#find-investments-button").click(function(evt){
			$.post(
				"/common_investments",
				{"vc1-list": vc.name},
				{"vc2-list": vc.name}
				function(result){
					console.log(result);
				});
		});
	}

  </script>
	-->
 </body>
</html>