<!DOCTYPE html>
<html>
	
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel="icon" href="../static/circle_intersect.jpg">
		<title>InCommon</title>

		
		<link rel="stylesheet" href="../static/css/vc_list.css"></link>
		<!-- Bootstrap stylesheet -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
	</head>
	
	<body>

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">

        <div class="navbar-header">
        	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="#">InCommon</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
         	<div class='navbar-right'>
				

          <div class="navbar-btn navbar-right">
            <div class="btn-group">
              <button class="btn btn-primary" id="home">Home</button>
            </div>
            <div class="btn-group">
              <button class="btn btn-primary" id="log-out">Log out</button>
            </div>
      
          </div>
        
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <div id="search-form-div">
			<form id="search-form">
				<!-- action="/common-investments" -->
				<div class="row center">
					
						<input class="typeahead" name="vc1" type="text" placeholder="VC">

						<input class="typeahead" name="vc2" type="text" placeholder="VC">

				</div> <!--/row-->
				<div class="row">
					<!-- <div class="col-lg-4"></div> -->
					<div class="col-lg-12">
						<button class="btn btn-primary btn-lg center-block" id="common-investments-button" type="button">Show Common Investments</button>
					</div>
					<div class="col-lg-4"></div>
				</div> <!--/row-->
			
			</form>
		</div>

      </div> <!--/container -->
    </div>

    <div class="container">
	    <div class="row">
	    	<div class="col-lg-6 col-md-6 col-sm-6">
		    	<div id="results-list"></div>
		    </div>
		    <div class="col-lg-6 col-md-6 col-sm-6">
		    	<div id="company-details"></div>
		    </div>
		    <div id="iqt-details"></div>
	    </div>
    </div>

    
      <hr>


    </div>


  	<footer class="footer">
      <div class="container">
        <p class="text-muted">Carly DaCosta 2014</p>
      </div>
    </footer>



		<!-- Load jQuery and typeahead -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.4/typeahead.bundle.min.js"></script>
	 	
	 	<!-- Load Bootstrap -->
	 	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
			 	
	 	<script src="../static/js/vc_list.js"></script>
		
	 	
 </body>
</html>