<!DOCTYPE html>
<html>
	
	<head>
		<meta charset="UTF-8">
		<title>InCommon</title>
	</head>
	
	<body>
	 	<div class="header">
	 	
	 		<h1 id="header">Investment Mapper</h1>
	 		<button class="nav" id="home">Home</button>
	        <button class="nav" id="log-out">Log out</button>
		 	
		</div>
		
		<div id="search-form-div">
			<form id="search-form">
				<!-- action="/common-investments" -->
				
				<div>
					<input class="typeahead" name="vc1" type="text" placeholder="VC">
				</div>
				
				<div>
					<input class="typeahead" name="vc2" type="text" placeholder="VC">
				</div>
				
				<button id="common-investments-button" type="button">Find Common Investments</button>
			
			</form>
		</div>
		
		<div id="results-div">
			<h3 id="results-heading"></h3>
			<div id="results-list"></div>
		</div>


		
		<!-- javascript so results div is replaced by list of companies, vc info when selected, company info when selected -->

		

		<!-- Load jQuery and the typeahead JS files -->
		<script src="/static/jquery.js"></script>
		<script src="/static/typeahead.bundle.js"></script>
	 
		<!-- Handles the typeahead capability -->
	 	<script>
		var vcs = new Bloodhound({
			datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
			queryTokenizer: Bloodhound.tokenizers.whitespace,
			limit: 20,
			prefetch: {
				// url points to a json file that contains an array of vc names
				url: '/static/vc_list.json',
				// the json file contains an array of strings, but the Bloodhound suggestion engine expects JavaScript objects so this converts all of those strings
				filter: function(list) {
	  			return $.map(list, function(vc) { return { name: vc }; });
				}
			}
		});
	 
		// kicks off the loading/processing of `local` and `prefetch`
		vcs.initialize();
	 
		// passing in `null` for the `options` arguments will result in the default
		// options being used
		$('.typeahead').typeahead(null, {
		  name: 'vcs',
		  displayKey: 'name',
		  // `ttAdapter` wraps the suggestion engine in an adapter that
		  // is compatible with the typeahead jQuery plugin
		  source: vcs.ttAdapter()
		});

		//event handler for home button.  when home button is clicked, send request to the /vc-list
		$('#home').click(function(evt) {
			evt.preventDefault();
			alert("hi");
			$("#results-div").hide();
            $("#search-form-div").show();
        });

		//event handler for log-out button.  when log-out button is clicked, send request to the /log-out url
		$('#log-out').click(function(evt) {
    		$.post(
        		"/log-out",
        		function(result) {
		            // this request clears the user's session
		            console.log(result);
		            window.location = result;
        		}
        	);
		});
		//event handler for the common investments button
		$('#common-investments-button').click(function(evt){
			evt.preventDefault();
			var str = $("#search-form").serialize();
			console.log(str);
			// $('#results-list').load("/ajax/common-investments");

			$.get("/ajax/common-investments", str,
				function(result){
					console.log(result);
					$("#results-div").html(result);
					$("#search-form-div").hide();
					$("#results-heading").html("Common Investments")
					$('#company-div').click(function(evt){
						console.log("clicked on company");
						// when i click on a company route to /ajax/company-data
						// result will be html of company info w/ jinja
						// insert result into 
						
					});
				}
			);
		});

		
		</script>


 </body>
</html>